.Box{
    cursor: pointer;
    padding: 16px 21px 16px 18px;
    display: flex;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid #FFD336;
    background: radial-gradient(56.08% 56.08% at 50% 50%, #2C135B 36.5%, rgba(51, 25, 99, 0.92) 82%, rgba(59, 32, 108, 0.93) 100%);
    background-color: #6032C6;
    box-shadow: 0px 1px 10.8px 7px rgba(232, 208, 0, 0.19);
}

.Box:hover{
    border-radius: 20px;
    border: 1px solid #FFD336;
    background: #6032C6;
    box-shadow: 0px 1px 10.8px 7px rgba(232, 208, 0, 0.19);
    background-color: #270F53;
}

.About{
    display: flex;
    flex-direction: column;
    gap: 3.94px;    
}

.Title{
    color: #DDD;
    font-family: Montserrat;
    font-size: 10.511px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Type{
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}