.Wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    z-index: 5;
   

    .dropdownActive{
        background: #A67DFF !important;
        height: 119px !important;
        padding: 4px !important;
    }

    .languageActiveItem{
        padding: 0px 6px;
    }

    .itemsActive{
        top: 35px;
        padding: 0px 6px;
    }
}

.noActive{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;

}

.bgActive{
    background: rgba(6, 6, 6, 0.75);
    backdrop-filter: blur(10px);
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}


.Container{
    padding: 4px 116px 8px 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1512px;
    width: 100%;
}

.LogoBody{
    width: 70px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;  
    cursor: pointer;
}

.Logo{

}

.NavbarBody{
    display: flex;
    gap: 184px;
    max-height: 44px;
}

.Navbar{
    display: flex;
    gap: 40px;
}

.List{
    list-style-type: none;
    padding: 10px;
}

.Item{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.Item.active{
    color: #A67DFF !important;
}

.Right{
    display: flex;
    gap: 22px;
}

.LanguageDropdown{
    position: relative;
    width: 72px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    transition: 1s;
    cursor: pointer;
    height: 44px;
}

.LanguageActiveItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.ActiveTitle{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: Poppins;
}

.LanguageItems{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    z-index: 2;
}

.LanguageItem{
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: Poppins;
    cursor: pointer;
}

.Menu{
    display: none;
}


.mobileContainer{
    position: fixed;
    width:91%;
    height: 100vh;
    top: 0;
    right: 0;
    background: #7D57CE;
    box-shadow: 24px 0px 16px 0px rgba(24, 23, 92, 0.18);
    transition: 1s;
    z-index: 3;
}

.mobileHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 0px 16px;    
}

.closeButton{
    background: transparent;
    border: 0;
    cursor: pointer;
}

.blackBackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.NavbarActive{
    display: flex !important;
    max-height: 100% !important;
    width: 100% !important;
}

.NavbarItemActive {
    flex-direction: column !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100% !important;
    gap: 0px !important;
}

.mobileContent{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.ListActive{
    text-align: center !important;
    padding: 21.5px 40px;
}



.LanguageDropdownMobil{
    
}

@media screen and (max-width:1350px){
    .NavbarBody{
        gap: 90px;
    }
}

@media screen and (max-width:1135px){
    .NavbarBody{
        gap: 15px;
    }
    .Navbar{
        gap: 15px;
    }
}

@media screen and (max-width:992px){
    .Container{
        padding: 11px 68px 11px 68px;
    }
    .Logo{
        width: 48px;
        height: 46px;
    }
    .Item{
        font-size: 14px;
    }
}

@media screen and (max-width:769px){
    .Container{
        padding: 8px 9px 5px 16px;
    }
    .NavbarBody{
        display: none;
    }
    .LogoBody{
        width: 38px;
        height: 40px;
    }
    .Logo{
        width: 30px;
        height: 30px;
    }
    .Menu{
        display: flex;
        cursor: pointer;
    }
}
