.Wrapper{
    background: black;
}

.Main{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.BackgroundImage{
    position: absolute;
    left: 0;
    top: 44px;
    object-fit: cover;
    z-index: 0;
}

.BackgroundImageMixed{
    position: absolute;
    left: 0;
    bottom: 0px;
    object-fit: cover;
    z-index: 0;
}

.ContentOne{
    position: relative;
    display: flex;
    max-width: 1512px;
    height: 749px;
    width: 100%;
    padding: 44px 157px 79px 116px;
}

.ContentLeft{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 251px;
    z-index: 4 !important;
    position: relative;
}

.ContentPhoneImage{
    max-width: 756px;
    width: 756px;
    max-height: 612px;
    height: 612px;
    position: absolute;
    right: 164px;
}

.ContentPhoneImage2{
    max-width: 270px;
    width: 100%;
    max-height: 548px;
    height: 100%;
    position: absolute;
    right: 257px;
}

.ContentRight{
}

.starBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 1728px !important;
}

.Vector{
    position: absolute;
    bottom: 0;
    left: 0;
}

.ContentTwo{
    position: relative;
    z-index: 2;
}

.BackgroundImage2{
    position: absolute;
    left: 0;
    top: 0;
}

.ContentTwo{
    height: 865px;
    display: flex;
    max-width: 1512px;
    width: 100%;
    padding: 149px 7px 149px 116px;
}

.ContentLeft2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    z-index: 4 !important;
    position: relative;
}

.PhoneImageTwo{
    max-width: 796px;
    max-height: 566px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 186px;
}

.SimpleContent{
    padding: 69px 161px 147px 116px;
    max-width: 1512px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.SimpleContentRight{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 4;
}

.SimpleContentPhoneImage{
    position: relative;
    z-index: 4;
    max-width: 535px !important;
    max-height: 556px !important;
    width: 100% !important;
    height: 100% !important;
}

.SimpleContentRe{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1512px;
    height: 749px;
    width: 100%;
    padding: 163px 164px 162px 116px;
}

.phoneImageFive{
    position: relative;
    z-index: 4;
}

.SimpleContentReLeft{
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MixedContent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1512px;
    height: 100%;
    width: 100%;
    padding: 163px 79px 162px 116px;
    z-index: 3;
}

.mixedImage{
    max-width: 700px !important;
    max-height: 715px !important;
    height: inherit !important;
    width: 100% !important;
    object-fit: cover;
    z-index: 3;
}

.MixedRight{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.BottomArrow{
    position: absolute;
    cursor: pointer;
    height: 24px;
    bottom: 28px;
    left: 50%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    transform: translate(-50%,-50%);
}

.phoneBackground{
    max-width: 994px;
    max-height: 566px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
}


.simplePhone{
    max-width: 312px;
    max-height: 586px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 192px;
    bottom: 124px;
    z-index: 1;
}


.simplePhone2{
    max-width: 312px;
    max-height: 586px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 208px;
    bottom: 124px;
    z-index: 1;
}

.simplePhone3{
    max-width: 304px;
    max-height: 618px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 205px;
    bottom: 144px;
    z-index: 3;
}

.simpleBoxes{
    max-width: 788px !important;
    max-height: 762px !important;
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    left: 0;
    bottom: 144px;
    z-index: 3;
}

.moonImage{
    position: absolute;
    max-width: 113px !important;
    max-height: 118px !important;
    width: 100% !important;
    height: 100% !important;
    left: 42%;
    top: 100px;
}

.starImage{
    position: absolute;
    max-width: 130px !important;
    max-height: 129px !important;
    width: 100% !important;
    height: 100% !important;
    left: 10%;
    top: 3%;
}

.phoneImage{
    position: absolute;
    max-width: 377px !important;
    max-height: 610px !important;
    width: 100% !important;
    height: 100% !important;
    left: 203px;
    top: 29.5px;
}

.bubbleImage{
    position: absolute;
    max-width: 377px !important;
    max-height: 610px !important;
    width: 100% !important;
    height: 100% !important;
    right: 220px;
    top: 29.5px;
    z-index: 4;
}