.Wrapper{
    background: black;
}

.Main{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.BackgroundImage{
    position: absolute;
    left: 0;
    top: 44px;
    object-fit: cover;
    z-index: 0;
}

.BackgroundImageMixed{
    position: absolute;
    left: 0;
    bottom: 0px;
    object-fit: cover;
    z-index: 0;
}

.ContentOne{
    position: relative;
    display: flex;
    max-width: 1512px;
    height: 749px;
    width: 100%;
    padding: 44px 157px 79px 116px;
}

.ContentLeft{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 251px;
    z-index: 4 !important;
    position: relative;
}

.ContentPhoneImage{
    max-width: 756px;
    width: 756px;
    max-height: 612px;
    height: 612px;
    position: absolute;
    right: 164px;
}

.ContentRight{
}

.starBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 1728px !important;
}

.Vector{
    position: absolute;
    bottom: 0;
    left: 0;
}

.ContentTwo{
    position: relative;
}

.BackgroundImage2{
    position: absolute;
    left: 0;
    top: 0;
}

.ContentTwo{
    height: 865px;
    display: flex;
    max-width: 1512px;
    width: 100%;
    padding: 149px 7px 149px 116px;
}

.ContentLeft2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    z-index: 4 !important;
    position: relative;
}

.PhoneImageTwo{
    max-width: 796px;
    max-height: 566px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 186px;
}

.SimpleContent{
    padding: 69px 161px 147px 116px;
    max-width: 1512px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.SimpleContentRight{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 4;
}

.SimpleContentPhoneImage{
    position: relative;
    z-index: 4;
}

.SimpleContentRe{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1512px;
    height: 749px;
    width: 100%;
    padding: 163px 164px 162px 116px;
}

.phoneImageFive{
    position: relative;
    z-index: 4;
}

.SimpleContentReLeft{
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.MixedContent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1512px;
    height: 100%;
    width: 100%;
    padding: 163px 79px 162px 116px;
    z-index: 3;
}

.mixedImage{
    max-width: 700px !important;
    max-height: 715px !important;
    height: inherit !important;
    width: 100% !important;
    object-fit: cover;
    z-index: 3;
}

.MixedRight{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.BottomArrow{
    position: absolute;
    height: 24px;
    bottom: 28px;
    left: 50%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    transform: translate(-50%,-50%);
}

.phoneBackground{
    max-width: 515px;
    max-height: 515px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
}


.simplePhone{
    max-width: 352px;
    max-height: 586px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 82px;
    top: 93px;
}