.Wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}

.Main{
    position: relative;
    z-index: 1;
    display: flex;
    height: 1600px;
    justify-content: center;
}

.Content{
    max-width: 1512px;
    width: 100%;
}

.Top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 66px 157px 114px 117px;
}

.DownloadBoxBody{
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.Right{
    position: relative;
    max-width: 664px;
    max-height: 597px;
    width: 100%;
    height: 100%;
}

.TopImage{
    max-width: 664px;
    max-height: 597px;
    width: 100%;
    height: 100%;
}

.Vector{
    position: absolute;
    top: -24px;
    right: 0;
    z-index: -1;
}

.Vector2{
    position: absolute;
    bottom: -24px;
    left: 0;
    z-index: -1;
}

.BottomArrow{
    left: 50%;
    bottom: 0;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.Bottom{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 73px 137px 34px 116px;
}

.RightImage{
    max-width: 718.94px;
    max-height: 779.62px;
    width: 100%;
    height: 100%;
}

.BottomsArrow{
    left: 50%;
    bottom: 89px;
    max-width: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    cursor: pointer;  
}

.Background{
    max-width: 100vw !important;
    width: 100% !important;
    height: 100% !important;
    max-height: 1728px !important;
    background: black;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    z-index: 0;
}

.stonsImage{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left: 0px !important;
    max-height: 857px !important;
}



@media screen and (max-width:1440px){
    .TopImage{
        max-width: 551px;
        max-height: 509px;
    }

    .Right{
        max-width: 551px;
        max-height: 509px;
    }
}

@media screen and (max-width:1350px){
    .Top{
        padding: 66px 42px 114px 117px;
    }
    .Bottom{
        padding: 73px 50px 34px 116px;
    }
}

@media screen and (max-width:1250px){
    .Top{
        flex-direction: column-reverse;
    }
    .Top div{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .DownloadBoxBody{
        display: flex;
        flex-direction: row !important;
        max-width: 472px !important;
    }
    .Bottom{
        flex-direction: column;
    }
    .Bottom div p{
        text-align: center;
    }
    .Bottom div:not(:nth-child(0)){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Main{
        height: 100%;
    }
    .Right{
        max-width: 629px;
        max-height: 682px;
        margin-top: 50px;
    }
    .RightImage{
        max-width: 629px;
        max-height: 682px;
    }
    .TopImage{
        max-width: 629px;
        max-height: 682px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:769px){
    .Top{
        padding: 21px 27px 80px 27px;
    }
    .TopImage{
        max-width: 317px;
        max-height: 301px;
    }
    .DownloadBoxBody{
        max-width: 273px !important;
        flex-direction: column !important;
    }
    .Top div p{
        font-size: 32px ;
    }
    .VectorImage{
        display: none;
    }
    .Vector{
        display: none;
    }
    .Vector2{
        display: none;
    }
    .BottomArrow{
        display: none !important;
    }
    .Bottom{
        padding: 21px 30px 80px 30px;
    }
    .RightImage{
        max-width: 327px;
        max-height: 354px;
    }
}